body{
    font-family: Arial, sans-serif;
    background-color: #9f9f9f;
    margin:0;
    padding:0;
    color: #333;
}

header{
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0.1);
}

nav{
    text-align: center;
    margin: 20px 0;
}

nav a{
    text-decoration: none;
    margin:0 15px;
    font-weight:bold;
    color:#2c3e50;
    font-size: 18px;
}

nav a hover{
    color:#e67e22;
}

section{
    max-width: 800px;
    margin:0 auto;
    padding:20px;
}

h1{
    color:#2c3e50;
}

h2{
    color:#34495e;
}